<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:jsp="http://java.sun.com/xml/ns/javaee/jsp" xmlns:web="http://xmlns.jcp.org/xml/ns/javaee" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_5_0.xsd http://xmlns.jcp.org/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="5.0">
  <display-name>RechercheEmploiWeb</display-name>
  <welcome-file-list>
    <welcome-file>register.jsp</welcome-file>
  </welcome-file-list>
  <jsp-config>
    <jsp-property-group>
      <url-pattern>*.jsp</url-pattern>
      <scripting-invalid>false</scripting-invalid>
    </jsp-property-group>
    <jsp-property-group>
      <url-pattern>*.tag</url-pattern>
      <scripting-invalid>false</scripting-invalid>
    </jsp-property-group>
  </jsp-config>
  <servlet>
    <description></description>
    <display-name>RegisterServlet</display-name>
    <servlet-name>RegisterServlet</servlet-name>
    <servlet-class>com.isi.controller.RegisterServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RegisterServlet</servlet-name>
    <url-pattern>/register</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.isi.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/login</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AccessControlServlet</display-name>
    <servlet-name>AccessControlServlet</servlet-name>
    <servlet-class>com.isi.controller.AccessControlServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AccessControlServlet</servlet-name>
    <url-pattern>/secure</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>NewCategory</display-name>
    <servlet-name>NewCategory</servlet-name>
    <servlet-class>com.isi.controller.NewCategory</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>NewCategory</servlet-name>
    <url-pattern>/NewCategory</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DeconnexionServlet</display-name>
    <servlet-name>DeconnexionServlet</servlet-name>
    <servlet-class>com.isi.controller.DeconnexionServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DeconnexionServlet</servlet-name>
    <url-pattern>/deconnexion</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MonCvServlet</display-name>
    <servlet-name>MonCvServlet</servlet-name>
    <servlet-class>com.isi.controller.MonCvServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MonCvServlet</servlet-name>
    <url-pattern>/monCv</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>OffreServlet</display-name>
    <servlet-name>OffreServlet</servlet-name>
    <servlet-class>com.isi.controller.OffreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>OffreServlet</servlet-name>
    <url-pattern>/offre</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditOffreServlet</display-name>
    <servlet-name>EditOffreServlet</servlet-name>
    <servlet-class>com.isi.controller.EditOffreServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditOffreServlet</servlet-name>
    <url-pattern>/editOffre</url-pattern>
  </servlet-mapping>
 
</web-app>